 #title {
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 56px;
 }
 .sub-title {
   width: max-content;
   background-color: gray;
   color: white;
   padding: 7px;
 }
 .main-container {
  display: flex;
  justify-content: center;
  column-gap: 2em;
 }
 .main-container img {
  width: auto;
  height: 380px;
 }
 .main-container div {
  flex: 0 1 auto;
 }
 .sub-container-1,
 .sub-container-2,
 .sub-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
 }
 body {
    background-color: rgb(241, 177, 58);
 }
 .main-container a {
  font-size: 30px;
  text-decoration: none;
  background-color: gray;
  padding: 5px;
  margin: 0;
 }
 #odin {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 20%;
    height: auto;
 }
 .description {
   width: max-content;
   padding: 15px;
   margin: 5px;
   background-color: rgb(192, 159, 98);
   padding-top: 1px;
 }
 .last {
   display: table;
   margin: 0 auto;
   font-size: 24px;
 }