 #title {
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 56px;
 }
 .sub-title {
   width: max-content;
   background-color: gray;
   color: white;
   padding: 7px;
 }
 body {
    background-color: rgb(241, 177, 58);
 }
 .main-list {
    font-size: 30px;
 }
 .main-list li {
    display: inline;
    padding: 10px;
    background-color: gray;
 }
 #one {
   margin: 240px;
 }
 #two {
   margin-left: 62px;
 }
 #three {
   margin-left: 220px;
 }
 #odin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
 }
 #koshary,
 #chicken,
 #pizza {
   display: inline;
   margin: 20px;
 }
 #chicken {
    width: auto;
    height: 380px;
 }
 #pizza {
    width: auto;
    height: 380px;
 }
 .description {
   width: max-content;
   padding: 15px;
   margin: 5px;
   background-color: rgb(192, 159, 98);
   padding-top: 1px;
 }
 .last {
   display: table;
   margin: 0 auto;
   font-size: 24px;
 }